@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,412;1,14..32,412&family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,412;1,14..32,412&family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';

:root{
--primary-color: linear-gradient(to top left, #12021a,  #06061a);  
--secondary-color: linear-gradient(to bottom, rgb(9, 1, 14),rgb(4, 1, 14)); 
--background-color: linear-gradient(to bottom left, #12021a, #18041f,  #23082c,  #30113f,  #1b0a34,  #0b0522,  #06061a); 
--text-color: #ffffff; 
--font-family: 'Inter', sans-serif;
--font-family-secondary: 'ubuntu', sans-serif;
--font-trail:'Source Sans 3', sans-serif;

}

@theme {
  --primary-color: var(--primary-color);
  --secondary-color: var(--secondary-color);
  --background-color: var(--background-color);
  --text-color: var(--text-color);
  --font-family: var(--font-family);
  --font-family-secondary: var(--font-family-secondary);
  --font-trail: var(--font-trail);
}

body {
  font-family: var(--font-family);
  background: var(--background-color);
  backdrop-filter: blur(50%);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  color: var(--text-color);
}